Source: ros-indigo-ecto-image-pipeline
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libeigen3-dev, ros-indigo-catkin, ros-indigo-cmake-modules, ros-indigo-ecto, ros-indigo-ecto-opencv, ros-indigo-opencv-candidate
Homepage: http://plasmodic.github.io/ecto_image_pipeline/
Standards-Version: 3.9.2

Package: ros-indigo-ecto-image-pipeline
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libeigen3-dev, ros-indigo-ecto, ros-indigo-ecto-opencv, ros-indigo-ecto-ros, ros-indigo-opencv-candidate
Description: Common tools for image based pipelines. Includes stereo and mono camera drivers, rectification, image sinks, calibration, etc..
