Source: ros-hydro-ecto-image-pipeline
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev, ros-hydro-catkin, ros-hydro-ecto, ros-hydro-ecto-opencv, ros-hydro-libg2o, ros-hydro-opencv-candidate, ros-hydro-opencv2, ros-hydro-pcl
Homepage: http://ecto.willowgarage.com
Standards-Version: 3.9.2

Package: ros-hydro-ecto-image-pipeline
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libeigen3-dev, ros-hydro-ecto, ros-hydro-ecto-opencv, ros-hydro-libg2o, ros-hydro-opencv-candidate, ros-hydro-opencv2, ros-hydro-pcl
Description: Common tools for image based pipelines. Includes stereo and mono camera drivers, rectification, image sinks, calibration, etc..
