Source: ros-fuerte-ecto-image-pipeline
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev, ros-fuerte-catkin, ros-fuerte-ecto, ros-fuerte-ecto-opencv, ros-fuerte-libg2o, ros-fuerte-opencv-candidate, ros-fuerte-opencv2, ros-fuerte-pcl
Homepage: http://ecto.willowgarage.com
Standards-Version: 3.9.2

Package: ros-fuerte-ecto-image-pipeline
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libeigen3-dev, ros-fuerte-ecto, ros-fuerte-ecto-opencv, ros-fuerte-libg2o, ros-fuerte-opencv-candidate, ros-fuerte-opencv2, ros-fuerte-pcl
Description: Common tools for image based pipelines. Includes stereo and mono camera drivers, rectification, image sinks, calibration, etc..
